@use '../../theme/variables' as v;
@use '../../theme/mixins' as m;

:host {
  display: block;
  width: 100%;
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-lg;
}

// Grid Card (Main Table)
.grid-card {
  @include m.card-style;
  padding: 0; // Remove padding for full-width grid
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 600px; 
  &:hover {
    z-index: 0;
  }

  // Header inside the card
  .card-header {
    padding: v.$spacing-md v.$spacing-lg;
    border-bottom: 1px solid v.$border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-content {
      display: flex;
      gap: v.$spacing-sm;
      align-items: center;
    }

    button.btn-archive {
      background: transparent;
      border: 1px solid v.$border-color;
      border-radius: v.$radius-sm;
      padding: 6px 12px;
      margin-left: auto;
      font-size: 0.8rem;
      font-weight: 500;
      color: v.$text-secondary;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 6px;
      transition: all 0.2s ease;
      
      &:hover {
        background: v.$bg-input;
        color: v.$primary-color;
        border-color: v.$primary-color;
      }
    }

    h3 {
      margin: 0;
      font-size: 1.1rem;
      color: v.$text-primary;
    }

    .row-count {
      background: v.$bg-color;
      padding: 4px 12px;
      border-radius: 12px;
      font-size: 0.75rem;
      color: v.$text-secondary;
      font-weight: 600;
      border: 1px solid v.$border-color;
    }
  }

  // The Grid Component Container
  .grid-container {
    flex: 1;
    width: 100%;
    
    ag-grid-angular {
      width: 100%;
      height: 100%;
    }
  }
}

