<div class="mobile-view-container" #container>
  <section>
    @if (dashboardVisible()) {
      <app-dashboard></app-dashboard>
    } @else {
      <div class="tab-skeleton"></div>
    }
  </section>
  <section>
    @if (historyVisible()) {
      <app-history></app-history>
    } @else {
      <div class="tab-skeleton"></div>
    }
  </section>
  <section>
    @if (settingsVisible()) {
      <app-settings></app-settings>
    }@else {
      <div class="tab-skeleton"></div>
    }
  </section>
</div>
